﻿@model passionProject.Models.ViewModels.ActorEdit
@{


    ViewBag.Title = "create";
}

<h2>Create Actor</h2>

<form method="POST" action="/Actor/Create">
    <div class="inputrow">
        <label class="inputlabel">Actor First Name</label>
        <input id="Actor" name="Actor_New" />
    </div>
    <div class="inputrow">
        <div class="inputlabel">Actor Last Name</div>
        <input id="ActorLName" name="ActorLName_New" />
    </div>
    <div class="inputrow">
        <input type="submit" value="Submit" />
    </div>
</form>

