﻿@model passionProject.Models.ViewModels.ActorEdit
@{
    ViewBag.Title = "Edit";
}

<h2>Edit Actor @Model.actor.ActorFName</h2>

<form method="POST" action="/Actor/Edit/@Model.actor.ActorID">
    <div class="inprow">
        <label class="inplabel">Actor First Name</label>
        <input type="text" value="@Model.actor.ActorFName" id="ActorFName" name="ActorFName" />
    </div>
    <div class="inprow">
        <div class="inplabel">Actor Last Name</div>
        <input type="text" value="@Model.actor.ActorLName" id="ActorLName" name="ActorLName" />
    </div>
    <div class="inprow">
        <input type="submit" value="Submit" />
    </div>
</form>
        

        
