﻿@model IEnumerable<passionProject.Models.Actor>
@{
    ViewBag.Title = "List";
}

    <h2>Actor</h2>

<div class="recadd">
    @Html.ActionLink("Add a New Actor", "New","Actor")
</div>
<div class="reccontainer" style="overflow:hidden;">
    @foreach (var actor in Model)
    {

        <div class="rec">

            
            <div class="recbody">
                <label>@Html.ActionLink(actor.ActorFName, "Show/" + actor.ActorID)</label>
                
                <p>@actor.ActorLName</p>
                <P>@actor.Movie.Count()</P>
                <span class="del">
                    @Html.ActionLink("Delete","Delete/"+actor.ActorID)
                </span>
            </div>
            <div class="clearfix"></div>
        </div>

    }
</div>

