﻿@model passionProject.Models.Actor
@{
    ViewBag.Title = "Show";
}

<h2>@Model.ActorFName</h2>
<h2>@Model.ActorLName</h2>

<div>

 @Html.ActionLink("Edit","Edit/"+Model.ActorID)
</div>

<div class="del">

   @Html.ActionLink("Delete", "Delete/" + Model.ActorID)

</div>

<h3>List of Movies actor<h3>

    @foreach (var movie in Model.Movie)
    { 
        <span class="recitem">@Html.ActionLink(movie.MovieName,"Show/" + movie.MovieID,"Movie")</span>
    }

    @Html.ActionLink("Add a movie","New","Movie")




 <div>   
    <div class="clearfix"></div>
</div>