﻿@model IEnumerable<passionProject.Models.Actor>
@{
    ViewBag.Title = "Create";
}

<h2>Create Movies</h2>

<form method="POST" action="/Movie/Create">
    <div class="inputrow">
        <label class="inputlabel">Movie Name</label>
        <input id="MovieTitle" name="MovieTitleNew" />
    </div>
    <div class="inputrow">
        <label class="inputlabel">Actor Name</label>
        <select id="MovieActor" name="MovieActorNew">
            @foreach (var actor in Model)
            {
                <option value="@actor.ActorID">@actor.ActorFName @actor.ActorLName ></option>
            }
        </select>
    </div>
   
    <div class="inputrow">
        <input type="submit" value="Submit" />
    </div>


</form>

