﻿@model passionProject.Models.ViewModels.MovieEdit
@{
    ViewBag.Title = "Edit";
}

<h2>Edit @Model.movie.MovieName</h2>

<form method="POST" action="/Movies/Edit/@Model.movie.MovieID">
    <div class="inputrow">
        <label class="inputlabel">Movie Name</label>
        <input type="text" value="@Model.movie.MovieName" id="MovieName" name="MovieNameNew" />
    </div>
    <div class="inputrow">
        <label class="inputlabel">Actor Name</label>
        <select id="MovieActor" name="MovieActorNew">
            @foreach (var actor in Model.actors)
            {
                string current = "";
                if (actor.ActorID == Model.movie.actor.ActorID)
                {
                    current = "selected";
                }
                <option value="@actor.ActorID" @current>@actor.ActorFName</option>
            }
        </select>
    </div>
    <div class="inputrow">
        <div class="inputlabel">Movie Content</div>
        <textarea id="MovieStory" name="MovieStoryNew">@Model.movie.MovieName</textarea>
    </div>
    <div class="inputrow">
        <input type="submit" value="Submit" />
    </div>
</form>

