﻿@model IEnumerable<passionProject.Models.Movies>
@{
    ViewBag.Title = "List";
}

<h2>Movies</h2>
<div class="recadd">
    @Html.ActionLink("Add a Movie","New")
</div>

<div class="reccontainer">
    @foreach (var Movies in Model)
    {
        <div class="rec">
           <div class="recbody">
               <label>@Html.ActionLink(Movies.MovieName,"Show/"+Movies.MovieID)</label>
           
            <span class="del">

                <a href="@Url.Action("Delete/"+Movies.MovieID)">Delete</a>


            </span>
            </div>

            <div class="clearfix"></div>

        </div>


    }




</div>

